bind = [
  "network:tcp://{{ network_bind_host }}:{{ network_bind_port }}",
  "component:tcp://{{ component_bind_host }}:{{ component_bind_port }}",
  "consensus:tcp://{{ consensus_bind_host }}:{{ consensus_bind_port }}"
]
peering = '{{sawtooth_scheduler}}'
peers = [{{ ['\"tcp://']| product(groups['validators']) | map('join', '') | list | product([(network_bind_port | string) + '\"']) | map('join', ':') | join(',') }}]

endpoint = "{{network_bind_host}}:{{network_bind_port}}"
scheduler = 'parallel'
network_public_key = 'wFMwoOt>yFqI/ek.G[tfMMILHWw#vXB[Sv}>l>i)'
network_private_key = 'r&oJ5aQDj4+V]p2:Lz70Eu0x#m%IwzBdP(}&hWM*'
minimum_peer_connectivity = 3
maximum_peer_connectivity = 10
